.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lookup-container {
  width: 100%;
  .status-bar {
    justify-content: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    & input {
      font-size: 1.1rem;
    }
  }
}
