.truncate {
  margin-top: 1rem;
}

.utility-output {
  margin: 1.5em 0;
  color: #222;
  padding: 0;
  line-height: 1;
}

.mark {
  color: #0f0;
}

.tools-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  align-items: start;
  margin: 1.5em 0;
}

.tools-grid pre,
input {
  background-color: #000;
  color: #e0e0e0;
  line-height: 1;
  border: none;
  font-family: inherit;
}

.tools-grid pre {
  padding: 0.75rem;
  margin: 0;
  text-wrap: unset;
  overflow-wrap: anywhere;
}

.tools-grid input[type="number"] {
  padding: 0.75rem 0 0.75rem 1rem;
  width: 5ch;
  text-align: center;
  margin: 0;
}
