.truncate {
  margin-top: 1rem;
}

.tools-grid pre {
  background-color: #000;
  color: #fff;
  padding: 0.5em;
  margin: 0;
  text-wrap: unset;
  overflow-wrap: anywhere;
  border: 0.1px solid #ccc;
  line-height: 1;
}

.utility-output {
  margin: 1.5em 0;
  color: #222;
  font-family: inherit;
  padding: 0;
  line-height: 1;
}

.mark {
  color: #0f0;
}

.tools-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  align-items: start;
  margin: 1.5em 0;
}

.tools-grid input[type="number"] {
  width: 5ch;
  text-align: right;
  margin: 0;
  padding: 0.2em 0.5em 0.2em 0.2em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.tools-grid output {
  border: 1px solid #ccc;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  text-align: center;
}
