:root {
  font-family: monospace;
  font-size: 16px;
}

* {
  font-family: inherit;
}

body {
  margin: 1em;
}

@media screen and (min-width: 600px) {
  body {
    margin: 2em;
  }
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  & a img {
    display: block;
  }
}

h1 {
  font-size: 1rem;
  color: #333;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: #333;
  & a {
    padding: 0.2rem;
    color: #333;
  }

  & a:hover {
    color: #0f0;
    background-color: #000;
    text-decoration: none;
  }
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

main a {
  padding: 0.2rem;
  color: inherit;
}

main a:hover {
  color: #0f0;
  background-color: #000;
  text-decoration: none;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(500px, 40%), 1fr));
  }
}

footer {
  margin-top: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  p:has(span) {
    display: flex;
    align-items: center;
    gap: 2rem;
    span {
      display: flex;
      align-items: center;
      gap: .75rem;
    }
  }
  & a {
    display: inline;
  }
  img,
  svg {
    width: 2rem;
    height: 2rem;
  }
}
