#table-container {
  overflow-x: auto;
}

#table-container .status-bar {
  border-top: none;
  border-bottom: 1px solid #555;
}

.ansi-codes {
  padding: 1em 0;
  width: 100%;
  border-collapse: collapse;
  max-width: fit-content;
  margin-bottom: 3em;
}

.ansi-codes th,
.ansi-codes td {
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid #444;
  white-space: nowrap;
}

.ansi-codes tfoot {
  font-size: 0.9em;
  font-style: italic;
  color: #888;
}

.ansi-codes tfoot td {
  padding-top: 2rem;
  border: none;
}
